#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container h1 {
  display: grid;
  grid-column: 1 / -1;
}

.left {
  grid-column-start: 1;
  margin-right: 1em;
}

.right {
  grid-column-start: 2;
}

.ex {
  border: 1px solid #0f0;
  margin-bottom: 5px;
}

.ex.ex-started {
  border-color: #00f;
}

.ex.ex-done {
  border-color: #ff0;
}

.ex button {
  margin: 2px;
  border: 1px solid #000;
}

.ex button:disabled {
  background-color: #ddd;
  border: 1px solid #000;
}

.ex button:hover {
  border-color: #0f0;
}

.ex button:hover:disabled {
  border-color: #000;
}

.timer {
  position: sticky;
  top: 5px;
  border: 1px solid #000;
  margin-bottom: 5px;
}

.timer.timer-running {
  border-color: #f00;
}

.timer button {
  background-color: #05ff05;
  margin-bottom: 5px;
}

.timer.timer-running button:disabled {
  background-color: #ddd;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
